@page
@model GameEnter.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lobbies</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lobby[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lobby[0].LobbyGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lobby[0].Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Lobby) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LobbyGame.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.UserName)
            </td>
            <td>
                @if (!User.IsInRole("BasicUser"))
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                }
                | <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                @if (!User.IsInRole("BasicUser"))
                {
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
