@page "/gamemodels/index"
@model GameEnter.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameModel[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameModel[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameModel[0].Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GameModel)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @if (item.GamePicture != null)
                    {
                        <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.GamePicture))">
                    }
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="gamemodels" asp-action="AddGameToAccount">ADD</a>
                </td>
            </tr>
        }
    </tbody>
</table>
